body{
	padding: 0px;
	width: 100% !important;
}

.tet{
	height: 65px;
	background-color: #f09200;
	width: 100% !important;
	margin: 0px !important;
	border: none !important;
	color: white;
}

.log{
	background-color: orange;
	border:1px solid white;
	padding:10px ;
	margin-top: 10px;
	color: white;

}

.menus{
	color:white !important;
	text-decoration: none;
	/*border: 1px solid white;*/
	margin-top: 5px;
}

.menus:hover{
	color:white;
	text-decoration: none;
	border-bottom: 2px solid white;
	margin-top: 5px;
}


.foot{
	background-color: orange;
	width: 100%;
	height:10%;
}
.bloc1{
	padding: auto;
	background-color: #EF8100;
	height: 350px;
	margin-top: 1px solid white;
}

.ima{
	
	height:350px;
	padding: 30px 0px 30px 150px;
}
.soratra{
	float:left;
	padding-left: 100px;
	padding-top: 50px;
	color: white;
}
.commencer{
	border: 1px solid white;
	font-size: 25px;
	font-family: century gothic;
    padding :10px 40px  ;
    color: white;
}
.txt{
	margin-bottom: 45px;
	float:center;
	padding-left: 40px;
}
.imgbloc2{
	width: 200px;
	height: 200px;
}
.bloc2{
	padding:50px;
}

.ecri{
	float:center;
	padding-left: 450px;
	padding-top: 50px;
	color: white;

}

.big{
	border: 1px solid white;
	font-size: 25px;
	font-family: century gothic;
    padding :10px 40px  ;
    color: grey;

}


/*Champ pour les inscription et Connexion*/
.button{
	border: 0;
	border-bottom: 1px solid orange;
	outline: 0;
}

.titre2{
	color: orange;

}

.trajet_button{
	border: 1px solid orange;
	/*border-bottom: 1px solid orange;*/
	outline: 0;
	height: 35px;
	width: 250px;
}

.info{
	color: red;
}

.crea{
	border: 1px solid orange;
	font-size: 25px;
	font-family: century gothic;
    padding :10px 30px  ;
    color: orange;
}

.foot{
	border: 1px;
	color: orange;
	height: 50px;

}

.profil{
	color:white !important;
	text-decoration: none;
	/*border: 1px solid white;*/
	margin-top: 5px;
}

.profil_image{
	background-color: grey;
	border-radius: 100%;
	}

.recherche{
	color: orange;
	border-color: orange;
	height: 35px;
}

.board{
	border: 1px solid orange;
	border-color: orange;
	height: 280px;
}
.pagination{
	color: orange;
}

.trait{
	border:1px solid orange;
	width: 1px;
	height: 275px;
}
.badge{
	background-color: white;
	color: black;
}
@media screen and (max-width:800px) {
tet
.log
.menu
.menu
.foot
.bloc
.ima
.sora
.comm
.txt
.imgb
.bloc
.ecri
.big
.butt
.titr
.traj
.info
.crea
.foot
 {
    width:100%;
  }
}